---
import Layout from '../components/Layout.astro';
import Statistics from '../components/Statistics';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
    <h1 class="text-3xl">Welcome to the website of FoxBot!</h1>

    <Statistics client:only />
</Layout>
